{% extends "base.html" %}
{% block title %}To-Do List{% endblock %}
{% block content %}
    <h2>To-do list</h2>
    <table>
        <tr>
            <td><b>Task</b></td>
            <td><b>Status</b></td>
            <td colspan="2"><b>Actions</b></td>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{% if task.status == 'done' %}<s>{% endif %}{{ task.name }}{% if task.status == 'done' %}</s>{% endif %}</td>
                <td>{% if task.status == 'new' %}Новая{% elif task.status == 'in_progress' %}В процессе{% elif task.status == 'done' %}Выполнено{% endif %}</td>

                <td><a href="#">add</a></td>
                <td><a href="#">delete</a></td>
            </tr>
        {% endfor %}

    </table>
    <br>
    <br>
    <h2>Add new task</h2>
    <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
        <input type="text" placeholder="To do:" name="task_name"><br><br>
        <input type="submit" value="Add"/>
    </form>
{% endblock %}

